
{% extends 'base.html.twig' %}

{% if not navigation is defined %}
    {% set navigation = [
        {
            'li_class': 'nav-item',
            'a_class' : 'nav-link',
            'href'    : path('index'),
            'text'    : 'Home'|trans,
        },
        {
            'li_class': 'nav-item',
            'a_class' : 'nav-link',
            'href'    : path('index') ~ '#projects',
            'text'    : 'Projects'|trans,
        },
        {
            'li_class': 'nav-item',
            'a_class' : 'nav-link',
            'href'    : path('index') ~ '#blog',
            'text'    : 'Blog'|trans,
        },
        {
            'li_class': 'nav-item',
            'a_class' : 'nav-link scrollto',
            'href'    : path('index') ~ '#socials',
            'text'    : 'Social Networks'|trans,
        },
        {
            'li_class': 'nav-item',
            'a_class' : 'nav-link scrollto',
            'href'    : path('index') ~ '#contact',
            'text'    : 'Contact'|trans,
        },
    ] %}
{% endif %}

{% set lang_items = {
    'en': '<span class="flag-icon flag-icon-us"> </span> English',
    'es': '<span class="flag-icon flag-icon-es"> </span> Español',
} %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ asset('devAid/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/flag-icon-css/css/flag-icon.min.css') }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ asset('devAid/plugins/prism/prism.css') }}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ asset('devAid/css/theme-3.css') }}">
{% endblock %}

{% block body %}
    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo float-left">
                <a class="" href="{{ path('index') }}">
                    <span class="logo-title">ThenLabs</span>
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-expand-md float-right" role="navigation">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->

                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% for item in navigation %}
                            <li class="{{ item.li_class }}"><a class="{{ item.a_class }}" href="{{ item.href }}">{{ item.text }}</a></li>
                        {% endfor %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ lang_items[route_parameters._locale]|raw }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownLang">
                                {% for lang, lang_item in lang_items %}
                                    <a class="dropdown-item" href="{{ path(route_name, route_parameters|merge({'_locale': lang})) }}">{{ lang_item|raw }}</a>
                                {% endfor %}
                            </div>
                        </li>

                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

    {% block content %}{% endblock %}

    <!-- ******SOCIALS****** -->
    <section id="socials" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">{{ 'Social Networks'|trans }}</h2>
                <div class="text-center">
                    <p class="text-center">{{ 'section.description.social_networks'|trans|raw }}</p>

                    <ul class="social-icons list-inline">
                        <li class="list-inline-item"><a href="{{ telegram_url }}" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li class="list-inline-item"><a href="{{ facebook_url }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item last"><a href="{{ twitter_url }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div><!--//contact-inner-->
        </div><!--//contact-->
    </section><!--//contact-->

    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern" style="padding-top: 0">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">{{ 'Contact'|trans }}</h2>
                <div class="info text-center">
                    <p class="text-center">{{ 'section.description.contact'|trans|raw }}</p>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
{% endblock %}

{% block scripts %}
    <!-- Javascript -->
    <script type="text/javascript" src="{{ asset('devAid/plugins/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('devAid/plugins/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('devAid/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('devAid/plugins/jquery-scrollTo/jquery.scrollTo.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('devAid/plugins/prism/prism.js') }}"></script>
    <script type="text/javascript" src="{{ asset('devAid/js/main.js') }}"></script>
{% endblock %}