
{% extends 'devAid/layout-left-sidebar.html.twig' %}

{% block right_sidebar %}
    <div class="docs-inner">
        <h2 class="title text-center" style="margin-bottom: 50px">Blog</h2>

        {% for post in posts %}
            <div class="block">
                <a href="{{ path('blogPost', {slug: post.slug}) }}">
                    <h4 class="mb-2">{{ post.title }}</h4>
                </a>
                <p>
                    <small><i class="far fa-clock"></i> {{ 'publication_date'|trans }}: {{ post.published|date('Y-m-d') }}</small>
                </p>
                <div class="mb-3">
                    {{ post.abstract|markdown }}
                    <a href="{{ path('blogPost', {slug: post.slug}) }}">{{ 'Read more'|trans }}</a>
                </div>
            </div><!--//block-->
        {% endfor %}

    </div><!--//docs-inner-->
{% endblock %}