
{% extends 'devAid/layout-sidebar.html.twig' %}

{% block before_body %}
    {% if comments is defined and comments == true %}
        {% set facebook_locale = 'en_US' %}
        {% if route_parameters._locale == 'es' %}
            {% set facebook_locale = 'es_ES' %}
        {% endif %}
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ facebook_locale }}/sdk.js#xfbml=1&version=v7.0&appId=1376605832728926&autoLogAppEvents=1" nonce="tVaW2yKx"></script>
    {% endif %}
{% endblock %}

{% block left_sidebar %}
    {% if not menu is empty %}
        <div class="row">
            <div class="col">
                <div class="wrapper-content section-menu">
                    <ul class="list-unstyled">
                        {% for item in menu %}
                            <li><a class="scrollto" href="#{{ item.id }}">{{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block right_sidebar %}
    <div class="wrapper-content docs-content">
        {% block before_content %}{% endblock %}

        <h1 class="title text-center">{{ contentTitle }}</h1>

        {% block page_content %}
            {{ content|raw }}
        {% endblock %}

        {% block after_content %}{% endblock %}

        {% if comments is defined and comments == true %}
            <div class="row">
                <div class="col">
                    <div class="fb-comments" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" data-numposts="5" data-width="100%"></div>
                </div>
            </div>
        {% endif %}

    </div><!--//docs-content-->
{% endblock %}