
{% extends 'devAid/page.html.twig' %}

{% block before_content %}
    {% if not translations_menu is empty %}
        <div class="row">
            <div class="col">
                <div style="float: right; margin-bottom: 20px">
                    {{ 'Translations'|trans }}
                    {% for item in translations_menu %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block after_content %}
    <p class="text-center" style="margin-top:25px">
        <small><i class="far fa-clock"></i> {{ 'publication_date'|trans }}: {{ blogPost.published|date('Y-m-d') }}</small>
        <div class="fb-share-button" data-href="{{ path('blogPost', {slug: blogPost.slug}) }}" data-layout="button_count"></div>
    </p>

    <div class="license" style="padding: 0; background: #FFFFFF">
        <div class="cta-container">
            <div class="speech-bubble">
                {{ form_start(formNewsletterSubscriber, { 'attr': { 'id': 'formNewsletterSubscriber' } }) }}
                    <p class="intro info">{{ 'newsletter_subscription_info'|trans }}</p>
                    {{ form_widget(formNewsletterSubscriber.email, { 'attr': {'placeholder': 'enter_your_email'|trans} }) }}
                    <div class="btn-container text-center" style="margin-top: 25px">
                        {{ form_widget(formNewsletterSubscriber.submit, {'label': 'subscribe_me'|trans, 'attr': {'class': 'btn btn-cta-secondary'} }) }}
                    </div>
                {{ form_end(formNewsletterSubscriber) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        var $formNewsletterSubscriber = $('#formNewsletterSubscriber');
        var $inputEmail = $formNewsletterSubscriber.find('input[type="email"]');
        var $button = $formNewsletterSubscriber.find('button');
        var $info = $formNewsletterSubscriber.find('p.info');

        $formNewsletterSubscriber.on('submit', function() {
            $.ajax({
                method: 'POST',
                url: '{{ path("ajax_register_newsletter_subscriber") }}',
                data: $formNewsletterSubscriber.serialize(),
                success: function(response) {
                    $inputEmail.hide();
                    $button.hide();

                    $info.html(response.message);
                }
            });

            $inputEmail.attr('disabled', true);
            $button.attr('disabled', true);

            return false;
        });
    });
    </script>
{% endblock %}