
{% extends 'devAid/layout-sidebar.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        h2, h3, h4, h5, h6 { margin: 40px 0 5px 0; }

        .wrapper-content {
            background: #fff;
            border-radius: 4px;
        }

        .section-menu {
            padding: 20px 5px 20px 15px;
        }

        .docs-content {
            padding: 5px;
            background-clip: padding-box;
        }

        @media (min-width: 576px) {
            h2, h3, h4, h5, h6 { margin: 40px 0 25px 0; }

            .docs-content {
                padding: 30px;
            }
        }
    </style>
{% endblock %}

{% block left_sidebar %}
    {% if not menu is empty %}
        <div class="row">
            <div class="col">
                <div class="wrapper-content section-menu">
                    <ul class="list-unstyled">
                        {% for item in menu %}
                            <li><a class="scrollto" href="#{{ item.id }}">{{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block right_sidebar %}
    <div class="wrapper-content docs-content">
        <h1 class="title text-center">{{ contentTitle }}</h1>
        {{ content|raw }}
    </div><!--//docs-content-->
{% endblock %}