
{% extends 'devAid/layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-flipster/dist/jquery.flipster.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
{% endblock %}

{% block content %}
    <!---//Facebook button code-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">ThenLabs<span class="highlight"></span></h2>
            <p class="intro">{{ 'slogan'|trans }}</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="{{ path('about') }}">{{ 'Learn more'|trans }}</a>
            </div>
            <ul class="meta list-inline">
                <li class="list-inline-item">
                    <a href="https://github.com/thenlabs" target="_blank">
                        <i class="fab fa-github"></i>
                        {{ 'View on GitHub'|trans }}
                    </a>
                </li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item twitter-follow">
                        <a href="{{ twitter_url }}" class="twitter-follow-button" data-show-count="false">{{ 'Follow @{twitter_username}'|trans({ 'twitter_username': twitter_username }) }}</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="list-inline-item twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ twitter_username }}" data-hashtags="">{{ 'Tweet'|trans }}</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <li class="list-inline-item facebook-like">
                         <div class="fb-like" data-href="{{ facebook_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li><!--//facebook-like-->
                </ul>
            </div>
        </div>
    </section><!--//promo-->

    <!-- ******ABOUT****** -->
    <section id="projects" class="about section">
        <div class="container">
            <h2 class="title text-center">{{ 'Projects'|trans }}</h2>
            <p class="intro text-center">{{ 'section.description.projects'|trans }}</p>
            <div class="row">
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">ComposedViews</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                            <span class="badge badge-success">Framework</span>
                        </div>
                        <p>{{ 'project.description.composed_views'|trans }}</p>
                        <div>
                            <a href="{{ path('doc', { project: 'composed-views', branch: 'master', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">{{ 'View Project'|trans }}</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">PyramidalTests</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                            <span class="badge badge-success">Framework</span>
                            <span class="badge badge-warning">{{ 'Previous'|trans }}</span>
                        </div>
                        <p>{{ 'project.description.pyramidal_tests'|trans }}</p>
                        <div>
                            <a href="{{ path('doc', { project: 'pyramidal-tests', branch: 'master', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">{{ 'View Project'|trans }}</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">Components</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                        </div>
                        <p>{{ 'project.description.components'|trans }}</p>
                        <div>
                            <a href="{{ path('doc', { project: 'components', branch: 'master', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">{{ 'View Project'|trans }}</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="clearfix visible-md"></div>

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">ClassBuilder</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                        </div>
                        <p>{{ 'project.description.class_builder'|trans }}</p>
                        <div>
                            <a href="{{ path('doc', { project: 'class-builder', branch: 'master', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">{{ 'View Project'|trans }}</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">ThenCLI</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                        </div>
                        <p>{{ 'project.description.then_cli'|trans }}</p>
                        <div>
                            <a href="{{ path('doc', { project: 'cli', branch: 'master', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">{{ 'View Project'|trans }}</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">GluePHP</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                            <span class="badge badge-success">Framework</span>
                            <span class="badge badge-warning">{{ 'Previous'|trans }}</span>
                            <span class="badge badge-danger">{{ 'Abandoned'|trans }}</span>
                        </div>
                        <p>{{ 'project.description.glue_php'|trans }}</p>
                        <div>
                            <a href="https://gluephp.readthedocs.io/es/latest/index.html" class="btn btn-secondary btn-sm" target="_blank">{{ 'View Project'|trans }}</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->

    <section id="blog" class="testimonial-section py-5">
        <div class="container py-lg-5">
            <h3 class="mb-1 mb-md-5 text-center">{{ 'Lastest blog posts'|trans }}</h3>

            <div id="flipster-carousel" class="flipster-carousel pt-md-3">
                <div class="flip-items pb-5">

                    {% for post in posts %}
                        <div class="flip-item">
                            <div class="item-inner shadow-lg rounded">
                                <a href="{{ path('blogPost', {slug: post.slug}) }}">
                                    <h5 class="mb-2">{{ post.title }}</h5>
                                </a>
                                <div class="mb-3">{{ post.abstract|markdown }}</div>
                                <a href="{{ path('blogPost', {slug: post.slug}) }}">{{ 'Read more'|trans }}</a>
                            </div><!--//item-inner-->
                        </div><!--//flip-item-->
                    {% endfor %}

                </div><!--//items-wrapper-->
            </div>
        </div><!--//container-->

    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('plugins/jquery-flipster/dist/jquery.flipster.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}