
{% extends 'devAid/layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/jquery-flipster/dist/jquery.flipster.min.css') }}">
    <style type="text/css">
        .flipster-carousel.flipster--active {
            display: block;
        }

        .flip-item {
            width: 420px;
        }

        .flip-item .item-inner {
            padding: 2rem;
            border: 1px solid #efefef;
            background: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <!---//Facebook button code-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">ThenLabs<span class="highlight"></span></h2>
            <p class="intro">Nos dedicamos a crear y gestionar proyectos de software de código abierto.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="{{ path('page', {slug: 'about'}) }}">Conocer más</a>
            </div>
            <ul class="meta list-inline">
                <li class="list-inline-item">
                    <a href="https://github.com/thenlabs" target="_blank">
                        <i class="fab fa-github"></i>
                        Ver en GitHub
                    </a>
                </li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item twitter-follow">
                        <a href="{{ twitter_url }}" class="twitter-follow-button" data-show-count="false">Seguir a @{{ twitter_username }}</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="list-inline-item twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ twitter_username }}" data-hashtags="">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <li class="list-inline-item facebook-like">
                         <div class="fb-like" data-href="{{ facebook_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li><!--//facebook-like-->
                </ul>
            </div>
        </div>
    </section><!--//promo-->

    <!-- ******ABOUT****** -->
    <section id="projects" class="about section">
        <div class="container">
            <h2 class="title text-center">Proyectos</h2>
            <p class="intro text-center">El siguiente listado muestra los proyectos de nuestra organización. En el caso de los que contienen la etiqueta "Anterior" queremos aclarar que fueron creados antes de nuestra existencia como proyecto, no obstante en lo adelante serán de alguna manera retomados por nosotros.</p>
            <div class="row">
                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">ComposedViews</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                            <span class="badge badge-success">Framework</span>
                        </div>
                        <p>Framework PHP para la creación de vistas reutilizables.</p>
                        <div>
                            <a href="{{ path('docs', { project: 'composed-views', branch: 'master', language: 'es', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">Ver Proyecto</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">PyramidalTests</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                            <span class="badge badge-success">Framework</span>
                            <span class="badge badge-warning">Anterior</span>
                        </div>
                        <p>Convierte PHPUnit en un framework BDD.</p>
                        <div>
                            <a href="{{ path('docs', { project: 'pyramidal-tests', branch: 'master', language: 'es', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">  Ver Proyecto</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">Components</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                        </div>
                        <p>Paquete PHP para la creación de tipos de componentes personalizados.</p>
                        <div>
                            <a href="{{ path('docs', { project: 'components', branch: 'master', language: 'es', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">Ver Proyecto</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="clearfix visible-md"></div>

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">ClassBuilder</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                        </div>
                        <p>Paquete PHP para la construir clases dinámicamente.</p>
                        <div>
                            <a href="{{ path('docs', { project: 'class-builder', branch: 'master', language: 'es', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">Ver Proyecto</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">ThenCLI</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                        </div>
                        <p>Herramientas de línea de comandos para gestionar proyectos de la comunidad.</p>
                        <div>
                            <a href="{{ path('docs', { project: 'cli', branch: 'master', language: 'es', resource: 'index', extension: 'html' }) }}" class="btn btn-secondary btn-sm">Ver Proyecto</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-lg-4 col-md-6 col-12">
                    <div class="content">
                        <h3 class="sub-title">GluePHP</h3>
                        <div>
                            <span class="badge badge-info">PHP</span>
                            <span class="badge badge-success">Framework</span>
                            <span class="badge badge-warning">Anterior</span>
                            <span class="badge badge-danger">Abandonado</span>
                        </div>
                        <p>Framework PHP para crear aplicaciones de una sola página (SPA).</p>
                        <div>
                            <a href="https://gluephp.readthedocs.io/es/latest/index.html" class="btn btn-secondary btn-sm" target="_blank">Ver Proyecto</a>
                        </div>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->

    <section id="quote" class="testimonial-section py-5">
        <div class="container py-lg-5">
            <h3 class="mb-1 mb-md-5 text-center">Últimas entradas del blog</h3>

            <div id="flipster-carousel" class="flipster-carousel pt-md-3">
                <div class="flip-items pb-5">

                    {% for post in posts %}
                        <div class="flip-item">
                            <div class="item-inner shadow-lg rounded">
                                <h5 class="mb-2">{{ post.title }}</h5>
                                <div class="mb-3">{{ post.abstract|markdown }}</div>
                                <a href="{{ path('blogPost', {slug: post.slug}) }}">Seguir leyendo</a>
                            </div><!--//item-inner-->
                        </div><!--//flip-item-->
                    {% endfor %}

                </div><!--//items-wrapper-->
            </div>
        </div><!--//container-->

    </section><!--//testimonial-section-->
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('plugins/jquery-flipster/dist/jquery.flipster.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            /* jQuery Flipster plugin */
            /* Ref: https://github.com/drien/jquery-flipster/ */
            $('#flipster-carousel').flipster({
                itemContainer: '.flip-items',
                // [string|object]
                // Selector for the container of the flippin' items.

                itemSelector: '.flip-item',
                // [string|object]
                // Selector for children of `itemContainer` to flip

                start: 'center',
                // ['center'|number]
                // Zero based index of the starting item, or use 'center' to start in the middle

                fadeIn: 400,
                // [milliseconds]
                // Speed of the fade in animation after items have been setup

                loop: true,
                // [true|false]
                // Loop around when the start or end is reached

                autoplay: 6000,
                // [false|milliseconds]
                // If a positive number, Flipster will automatically advance to next item after that number of milliseconds

                pauseOnHover: true,
                // [true|false]
                // If true, autoplay advancement will pause when Flipster is hovered

                style: 'coverflow',
                // [coverflow|carousel|flat|...]
                // Adds a class (e.g. flipster--coverflow) to the flipster element to switch between display styles
                // Create your own theme in CSS and use this setting to have Flipster add the custom class

                spacing: -0.5,
                // [number]
                // Space between items relative to each item's width. 0 for no spacing, negative values to overlap

                click: true,
                // [true|false]
                // Clicking an item switches to that item

                keyboard: true,
                // [true|false]
                // Enable left/right arrow navigation

                scrollwheel: false,
                // [true|false]
                // Enable mousewheel/trackpad navigation; up/left = previous, down/right = next

                touch: true,
                // [true|false]
                // Enable swipe navigation for touch devices

                nav: false,
                // [true|false|'before'|'after']
                // If not false, Flipster will build an unordered list of the items
                // Values true or 'before' will insert the navigation before the items, 'after' will append the navigation after the items

                buttons: true,
                // [true|false|'custom']
                // If true, Flipster will insert Previous / Next buttons with SVG arrows
                // If 'custom', Flipster will not insert the arrows and will instead use the values of `buttonPrev` and `buttonNext`

                buttonPrev: 'Previous',
                // [text|html]
                // Changes the text for the Previous button

                buttonNext: 'Next',
                // [text|html]
                // Changes the text for the Next button

                onItemSwitch: false
                // [function]
                // Callback function when items are switched
                // Arguments received: [currentItem, previousItem]
            });



        });
    </script>
{% endblock %}