
{% extends 'devAid/layout-left-sidebar.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        h2, h3, h4, h5, h6 { margin: 40px 0 5px 0; }

        .wrapper-content {
            background: #fff;
            border-radius: 4px;
        }

        .section-menu {
            padding: 20px 5px 20px 15px;
        }

        .docs-content {
            padding: 5px;
            background-clip: padding-box;
        }

        @media (min-width: 576px) {
            h2, h3, h4, h5, h6 { margin: 40px 0 25px 0; }

            .docs-content {
                padding: 30px;
            }
        }
    </style>
{% endblock %}

{% block before_body %}
    {% set facebook_locale = 'en_US' %}
    {% if route_parameters._locale == 'es' %}
        {% set facebook_locale = 'es_ES' %}
    {% endif %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ facebook_locale }}/sdk.js#xfbml=1&version=v7.0&appId=1376605832728926&autoLogAppEvents=1" nonce="tVaW2yKx"></script>
{% endblock %}

{% block left_sidebar %}
    {% if not menu is empty %}
        <div class="row">
            <div class="col">
                <div class="wrapper-content section-menu">
                    <ul class="list-unstyled">
                        {% for item in menu %}
                            <li><a class="scrollto" href="#{{ item.id }}">{{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block right_sidebar %}
    <div class="wrapper-content docs-content">
        {% if not translations_menu is empty %}
            <div class="row">
                <div class="col">
                    <div style="float: right; margin-bottom: 20px">
                        {{ 'Translations'|trans }}
                        {% for item in translations_menu %}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <h1 class="title text-center">{{ contentTitle }}</h1>

        {{ content|raw }}

        <div class="row">
            <div class="col">
                <div class="fb-comments" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" data-numposts="5" data-width="100%"></div>
            </div>
        </div>

    </div><!--//docs-content-->
{% endblock %}