<!-- ******SOCIALS****** -->
<section id="socials" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">{{ 'Social Networks'|trans }}</h2>
            <div class="text-center">
                <p class="text-center">{{ 'section.description.social_networks'|trans|raw }}</p>

                <ul class="social-icons list-inline">
                    <li class="list-inline-item"><a href="{{ telegram_url }}" target="_blank"><i class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href="{{ facebook_url }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item last"><a href="{{ twitter_url }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div><!--//contact-inner-->
    </div><!--//contact-->
</section><!--//contact-->

<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern" style="padding-top: 0">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">{{ 'Contact'|trans }}</h2>
            <div class="info text-center">
                <p class="text-center">{{ 'section.description.contact'|trans|raw }}</p>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">

        {% include 'devAid/includes/ads/footer.html.twig' %}

        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
</footer><!--//footer-->