{% if not title is defined %}
    {% if pageTitle is defined %}
        {% set title = pageTitle ~ ' | ThenLabs' %}
    {% else %}
        {% set title = 'ThenLabs' %}
    {% endif %}
{% endif %}

{% if not meta_description is defined %}
    {% set meta_description = 'slogan'|trans %}
{% endif %}

{% if not ogUrl is defined %}
    {% set ogUrl = (app.request.schemeAndHttpHost ~ app.request.requestUri) %}
{% endif %}

{% if not ogType is defined %}
    {% set ogType = 'website' %}
{% endif %}

{% if not ogTitle is defined %}
    {% set ogTitle = title %}
{% endif %}

{% if not ogDescription is defined %}
    {% set ogDescription = meta_description %}
{% endif %}

{% if not ogImage is defined or ogImage is empty %}
    {% set ogImage = absolute_url(asset('preview.png')) %}
{% endif %}

{% set route_name = app.request.attributes.get('_route') %}
{% set route_parameters = app.request.attributes.get('_route_params') %}

<!DOCTYPE html>
<html lang="{{ route_parameters._locale }}">
<head>
    <title>{{ title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="ThenLabs">
    <meta property="og:site_name" content="ThenLabs">
    <meta property="og:url" content="{{ ogUrl }}">
    <meta property="og:type" content="{{ ogType }}">
    <meta property="og:title" content="{{ ogTitle }}">
    <meta property="og:image" content="{{ ogImage }}">
    <meta property="og:description" content="{{ ogDescription }}">
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics_id }}');
    </script>

    {% block styles %}{% endblock %}
</head>

<body data-spy="scroll">
    {% block before_body %}{% endblock %}
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>